@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

/* __________SECTION PADDING___________ */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


/* _______________HEADER_________________ */

.header-list {
    display: flex;
}

.contact-list {
    display: flex;
}

.menu-open-btn {
  display: none;
}

  /* ___________HERO___________ */

  .hero {
    height: 600px;
    padding: 205px 0;
    background-image: url(../img/hero-dark-bg.png),
      url(../img/hero-bg-desktop.jpg);
  }

.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero-dark-bg.png),
        url(../img/hero-bg-desktop-2x.jpg);
    }
  }

  /* ______________BENEFITS_______________ */

  .benefits {
    
  }

  .background-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .benefits-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    gap: 24px;
  }

.benefits-item {
  width: 264px;
}


  .benefits-head-h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .benefits-description {
    line-height: 1.5;
  }

  /* __________WHAT ARE WE DOING__________ */

  .sectionWARW {
    display: block;
    padding-top: 0;
  }

  /* ____________OUR TEAM___________ */

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* _______FOOTER________ */


  .footer {
  padding-top: 100px;
  padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: flex-start;
  }

  .logo-margin {
    margin-right: 120px;
  }

  .soc-media-title {
    margin-top: 0;
  }

  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-left: 80px;
    margin-right: 0;
  }
}
