@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
  



/* _______________HEADER______________ */

.logo {
    padding-top: 24px;
    padding-bottom: 24px;
}   

.header-list {
    display: none;
}

.contact-list {
    display: none;
}






  /* __________WHAT ARE WE DOING__________ */

  .sectionWARW {
    display: none;
  }

/* _____________FOOTER_____________ */

.subscribe-form-input {
  width: 295px;
}

.button-subscribe {
  margin-left: 66px;
}



  /* _____________MODA____________ */

.modal {
    width: 353px;
}

.registration-form-appeal {
    font-size: 14px;
}

.modal-btn {
    left: 300px;
}

.registration-form-message {
    width: 304px;
}



}

@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }

  /* _____________HEADER_____________ */

.header-list {
    display: none;
}

.contact-list {
    display: none;
}


  /* __________WHAT ARE WE DOING__________ */
  .sectionWARW {
    display: none;
  }

/* _____________FOOTER_____________ */

.subscribe-form-input {
  width: 396px;
}

.button-subscribe {
  margin-left: 115px;
}







}


