@media screen and (min-width: 320px) {

/* _______________HEADER______________ */

.logo {
    padding-top: 24px;
    padding-bottom: 24px;
}   

.header-list {
    display: none;
}

.contact-list {
    display: none;
}


/* ______________MOBILE MENU_____________ */

.mob-soc-list {
  gap: 28px;
}

.mobile-menu-link {
  font-size: 32px;
}

.mobile-menu-contact-link {
  font-size: 25px;
}


  /* __________WHAT ARE WE DOING__________ */

  .sectionWARW {
    display: none;
  }


/* ___________CUSTOMERS__________ */

.customers-list-item {
  width: 135px;
}



/* _____________FOOTER_____________ */

.subscribe-form-input {
  width: 295px;
}


/* .button-subscribe {
  margin-left: 66px;
} */



  /* _____________MODAL____________ */

.modal {
  width: 350px;
}

.modal-btn {
  left: 305px;
}

.registration-form-appeal {
  font-size: 14px;
}

.registration-form-message {
  width: 301px;
}

}


  /* _____________HEADER_____________ */

.header-list {
    display: none;
}

.contact-list {
    display: none;
}


  /* __________WHAT ARE WE DOING__________ */
  .sectionWARW {
    /* display: none; */
  }



/* _____________FOOTER_____________ */

/* .subscribe-form-input {
  width: 396px;
} */

.button-subscribe {
  margin-left: 0;
}







}


