:root {
  --color-NAVY-BLUE: #2e2f42;
  --color-SLATE: #434455;
  --color-CORNFLOWER: #e7e9fc;
  --color-IRIS: #4d5ae5;
  --color-CLOUD: #f4f4fd;
  --color-WHITE: #ffffff;
  --color-OCEAN: #404bbf;
  --color-GREEN: #31d0aa;
  --color-LIGHT-SLAIGHT: #8e8f99;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  padding: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 16px;
  color: var(--color-NAVY-BLUE);
  background-color: var(--color-WHITE);
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* _____________RESET____________ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

/* ____________SECTION PADDING___________ */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* _____________HEADER______________ */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-flex {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-NAVY-BLUE);
  transition: color var(--animation);
}

.logo-web {
  color: var(--color-IRIS);
}

.logo:hover,
.logo:focus {
  color: var(--color-IRIS);
}

.link {
  text-decoration: none;
}

.header-list {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-left: 77px;
}

.header-link {
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-SLATE);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--animation);
}

.header-link.current-studio {
  color: var(--color-OCEAN);
}

.current-studio::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  left: 0px;
  bottom: 0;
  padding-top: 4px;
  color: var(--color-OCEAN);
  background: var(--color-OCEAN);
  border-radius: 2px;
  display: inline-block;
}

.header-link.current-portfolio {
  color: var(--color-OCEAN);
}

.current-portfolio::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 4px;
  left: 0px;
  bottom: 0;
  padding-top: 4px;
  color: var(--color-OCEAN);
  background: var(--color-OCEAN);
  border-radius: 2px;
  display: inline-block;
}

.header-link:hover,
.header-link:focus {
  color: var(--color-IRIS);
}

.contact-list {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-left: auto;
}

.contact-link {
  text-decoration: none;
  line-height: 1.5;
  color: var(--color-SLATE);
  transition: color var(--animation);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-IRIS);
}

/* ________________MAIN________________ */

/* __________TITLE SECTION________ */

.hero {
  text-align: center;
  padding: 188px 0;
  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero-dark-bg.png), url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-WHITE);
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.hero-button {
  font-weight: 600;
  line-height: 1.1;
  padding: 16px 32px;
  letter-spacing: 0.04em;
  color: var(--color-WHITE);
  background: var(--color-IRIS);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;

  transition: background var(--animation), box-shadow var(--animation);
}

.button-hero:hover,
.button-hero:focus {
  color: var(--color-WHITE);
  background: var(--color-OCEAN);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ______________BENEFITS_____________ */

.benefits {
  padding-bottom: 0;
}

.background-icon {
  width: 264px;
  height: 112px;
  background-color: var(--color-CLOUD);
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.benefits-head-h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.benefits-description {
  line-height: 1.5;
  color: var(--color-SLATE);
}

/* ___________WHAT ARE WE DOING________ */

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.main-image-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

/* _____________OUR TEAM____________ */

.team-section {
  background: var(--color-CLOUD);
}

.section-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.team-item {
  width: 264px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.team-descriptiom {
  line-height: 1.5;
  color: var(--color-SLATE);
}

.team-soc-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-soc-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-IRIS);
  transition: background-color var(--animation);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-OCEAN);
}

/* ____________CUSTOMERS___________ */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  margin-top: 72px;
}

.customers-list-item {
  width: 168px;
}

.customers-link {
  width: 100%;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-LIGHT-SLAIGHT);
  transition: fill var(--animation), border var(--animation);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--color-OCEAN);
  border: 1px solid var(--color-OCEAN);
}

/* ___________FOOTER__________ */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--color-NAVY-BLUE);
}

.footer-container {
  display: flex;
}

.logo-footer {
  display: block;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--color-CLOUD);
  text-transform: uppercase;
  margin-bottom: 16px;
  transition: color var(--animation);
}

.logo-margin {
  margin-right: 120px;
}

.logo-web {
  color: var(--color-IRIS);
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--color-IRIS);
}

.footer-description {
  width: 264px;
  line-height: 1.5;
  color: var(--color-CORNFLOWER);
}

.soc-media-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-WHITE);
}

.soc-media-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  margin-top: 16px;
}

.soc-media-link {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--animation);
}

.soc-media-link:hover,
.soc-media-link:focus {
  background-color: var(--color-GREEN);
}

.subscribe-form {
  display: flex;

  margin-left: 80px;
}

.subscribe {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-WHITE);
}

.subscribe-form-input {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  margin-top: 16px;
  padding-left: 16px;
  background-color: var(--color-NAVY-BLUE);
  color: var(--color-WHITE);
}

.subscribe-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  margin-top: 40px;
  gap: 16px;
  margin-left: 24px;
  width: 165px;
  height: 40px;
  border: none;
  background: var(--color-IRIS);
  border-radius: 4px;
  color: var(--color-WHITE);
  transition: var(--animation);
}

.subscribe-icon {
  fill: var(--color-WHITE);
}

.button-subscribe:hover {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ______________PORTFOLIO PAGE______________ */

/* _______________FILTER_____________ */

.portfolio-section {
  padding-top: 96px;
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.filter-button {
  color: var(--color-IRIS);
  background: var(--color-CLOUD);
  border: 1px solid var(--color-CORNFLOWER);
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  transition: color var(--animation), background var(--animation),
    box-shadow var(--animation), border-radius var(--animation);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--color-WHITE);
  background: var(--color-OCEAN);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-list {
  list-style: none;
}

/*_________________GALERY________________ */

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 48px;
  column-gap: 24px;
}

.gallery-item {
  width: 360px;
  border: 0.5px solid var(--color-CLOUD);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.gallery-item:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

.gallery-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--animation);
}

.gallery-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-link .overlay:hover {
  transform: translateY(0%);
  transition: transform var(--animation);
}

.thumb-gallery {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-CLOUD);
  background: var(--color-IRIS);
  background-blend-mode: soft-light;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 164px;
  transform: translateY(100%);
  transition: transform var(--animation);
}

.project-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.gallery-titles {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: var(--color-NAVY-BLUE);
}
.gallery-program {
  line-height: 1.5;
  color: var(--color-SLATE);
}

/* _________________MODAL_________________ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: visibility var(--animation), opacity var(--animation);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 72px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  top: 24px;
  left: 360px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.registration-form {
}

.registration-form-field {
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.registration-form-appeal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-NAVY-BLUE);
  margin-bottom: 14px;
}

.registration-form-label {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: var(--color-LIGHT-SLAIGHT);
}

.registration-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;

  background-color: transparent;
  transition: var(--animation);
}

.registration-form-input:focus {
  outline: 1px solid var(--color-IRIS);
}

.registration-form-icon {
  position: absolute;
  bottom: 14px;
  left: 16px;
  fill: var(--color-NAVY-BLUE);
  transition: var(--animation);
}

.registration-form-input:focus + .registration-form-icon {
  fill: var(--color-IRIS);
}

.registration-form-message {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  background-color: transparent;
  resize: none;
  padding-left: 16px;
  padding-top: 8px;
  transition: var(--animation);
}

.registration-form-message:focus {
  outline: 1px solid var(--color-IRIS);
}

.registration-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
  
}

.registration-form-agreement {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.registration-form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #757575;
}

.btn-send {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-WHITE);
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  margin-top: 24px;
  background: var(--color-IRIS);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: var(--animation);
}

.btn-send:hover {
  color: var(--color-WHITE);
  background: var(--color-OCEAN);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
